@import "../../../../../styles.scss";
@include disable-auto-zoom-on-iphone-input-fields;

mat-form-field {
  width: 100%;
  margin: 10px 0;
}

button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

mat-icon {
  color: gray;
}

b {
  cursor: pointer;
  color: blue;
}

.toggleShowPasswordButton {
  cursor: pointer;
}

span {
  color: gray;
}
