<main>
  <section class="note" *ngFor="let note of notes">
    <div class="flex-row align-space-between-center">
      <h2>{{ note.heading }}</h2>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div (click)="deleteNote.emit(note.id)" mat-menu-item class="flex-row">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </div>
      </mat-menu>
    </div>
    <p>
      {{ note.text }}
    </p>
  </section>
</main>
